@charset "UTF-8";
@import url(../../fonts/landing/Gilroy/style.css);
html {
  background-color: #fff;
  font-family: 'Roboto';
  font-size: 16px;
  color: #000000;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

.link-main {
  padding: 15px 19px;
  color: #ffffff;
  background-color: #055df4;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: 3px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  line-height: 19px;
}

.link-main:hover {
  opacity: .9;
}

.link-main:active {
  background-color: #044ac2;
}

/*.section {*/
/*  position: relative;*/
/*  margin: 0 auto;*/
/*  width: 100%;*/
/*  max-width: 1920px;*/
/*  padding-right: 120px;*/
/*  padding-left: 120px;*/
/*}*/

.section__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  color: #000000;
}

@media screen and (max-width: 1600px) {
  .section {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media screen and (max-width: 1300px) {
  .section__title {
    font-size: 42px;
    line-height: 50px;
  }
}

@media screen and (max-width: 992px) {
  .section {
    padding-right: 40px;
    padding-left: 40px;
  }
  .section__title {
    font-size: 36px;
    line-height: 42px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (max-width: 592px) {
  .section {
    padding-right: 16px;
    padding-left: 16px;
  }
  .section__title {
    font-size: 30px;
    line-height: 36px;
  }
}

body.menu-active {
  overflow: hidden;
}

.top-header {
  background-color: #eb672d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
}

.top-header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__info-text {
  font-size: 36px;
  line-height: 30px;
  margin-right: 30px;
  color: #ffffff;
}

.top-header__info-button {
  padding: 20px 22px;
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
}

.bottom-header {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-header .hamburger {
  display: none;
}

.bottom-header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.bottom-header__logo {
  max-width: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-header__img-wrap {
  width: 100%;
  max-width: 57px;
}

.bottom-header__img {
  width: 100%;
}

.bottom-header__logo-text {
  font-size: 14px;
  line-height: 16px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  color: #8b8b8b;
}

.bottom-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-header__item {
  margin-right: 35px;
}

.bottom-header__item:last-child {
  margin-right: 0;
}

.bottom-header__item-link {
  font-size: 14px;
  line-height: 16px;
  color: #8b8b8b;
}

.bottom-header__last-item .bottom-header__item-link {
  color: #ffffff;
}

.mobile-nav .bottom-header__list {
  display: none;
}

.earn {
  padding-top: 135px;
  padding-bottom: 244px;
  background-image: url("../../img/landing/bg-all.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.earn__bg-img {
  position: absolute;
  top: 135px;
  right: 12%;
}

.earn__title {
  color: #055df4;
  font-size: 55px;
  line-height: 57px;
  max-width: 751px;
  font-weight: bold;
}

.earn__desc {
  color: #055df4;
  margin-top: 45px;
}

.earn__link {
  padding: 25px 60px;
  background-color: #eb672d;
  margin-top: 80px;
}

.earn__link:active {
  background-color: #d14e14;
}

.how-iw {
  background-image: url("../../img/landing/second-bg-line.png");
  background-repeat: no-repeat;
  background-position: left 15%;
  background-size: 100%;
}

.how-iw .section__title {
  margin-bottom: 95px;
}

.how-iw__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how-iw__item {
  margin-right: 50px;
}

.how-iw__img-wrap {
  max-width: 73px;
  width: 100%;
  margin-bottom: 42px;
}

.how-iw__img {
  width: 100%;
}

.how-iw__name {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
  font-weight: bold;
}

.how-iw__desc {
  font-size: 16px;
  line-height: 19px;
  color: #575757;
  /*max-width: 340px;*/
  margin-bottom: 20px;
}

.how-iw__desc:last-child {
  margin-bottom: 0;
}

.how-iw__bonus-wrap {
  padding: 30px 26px 20px 30px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.how-iw__bonus-text {
  font-style: italic;
}

.banner {
  padding: 25px 0;
  background: url("../../img/landing/banner-bg-1.png") no-repeat -4% 46%, #055df4 url("../../img/landing/banner-bg-2.png") no-repeat 100% 5%;
  margin-top: 80px;
}

.banner .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.banner__text {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
  max-width: 742px;
}

.banner__price {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}

.member {
  margin-top: 95px;
  margin-bottom: 81px;
}

.member__wrap {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .member__wrap {
    padding: 10px 0;
  }
}

@media screen and (max-width: 576px) {
  .member__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.member__numb {
  color: #ffffff;
  font-size: 60px;
  line-height: 48px;
  padding: 5px 3px;
  background-color: #EB672D;
  margin-right: 32px;
  border-radius: 3px;
}

@media screen and (max-width: 1500px) {
  .member__numb {
    margin-right: 15px;
  }
}

@media screen and (max-width: 1400px) {
  .member__numb {
    font-size: 44px;
  }
}

@media screen and (max-width: 900px) {
  .member__numb {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .member__numb {
    display: inline-block;
  }
}

.member__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .member__item {
    margin-left: 0;
  }
}

.member__img-wrap {
  height: 100%;
}

@media screen and (max-width: 576px) {
  .member__img-wrap {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.member__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.member__desc {
  color: #eb672d;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 1400px) {
  .member__desc {
    max-width: 217px;
  }
}

@media screen and (max-width: 992px) {
  .member__desc {
    max-width: 185px;
  }
}

@media screen and (max-width: 768px) {
  .member__desc {
    max-width: 139px;
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width: 576px) {
  .member__desc {
    max-width: 100%;
  }
}

.member__link {
  color: #196af5;
  /*text-decoration: underline;*/
  margin-top: 25px;
  display: inline-block;
  font-weight: bold;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.member__link:hover {
  opacity: .8;
}

.member__link:active {
  color: #0953d2;
}

.like {
  padding-top: 71px;
  background-image: url("../../img/landing/like-bg.png");
  background-repeat: no-repeat;
  background-position: left 15%;
  background-size: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 80px;
}

.like__wrap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.like .section__title {
  margin-bottom: 120px;
}

.like__img {
  display: none;
}

.like__desc {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 19px;
  color: #818181;
  max-width: 600px;
}

.like__desc:last-child {
  margin-bottom: 0;
}

.like__button {
  margin-top: 100px;
  background-color: #eb672d;
  padding: 25px 75px;
  font-weight: 500;
  margin-bottom: 350px;
}

.like__button:active {
  background-color: #d14e14;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners .section__title {
  margin-right: 130px;
}

.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partners__item {
  margin-right: 80px;
}

.partners__button {
  background-color: #eb672d;
  padding: 25px 64px;
  font-weight: 600;
  font-family: 'Gilroy';
}

.partners__button:active {
  background-color: #d14e14;
}

.announce {
  margin-top: 162px;
}

.announce .section__title {
  margin-bottom: 80px;
}

.announce__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.announce__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.announce__item:nth-child(odd) {
  margin-right: 40px;
}

.announce__img-wrap {
  height: 100%;
  width: 100%;
  max-width: 391px;
  position: relative;
}

.announce__img {
  width: 100%;
}

.announce__img-desc {
  position: absolute;
  background-color: #eb672d;
  color: #ffffff;
  padding: 14px;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  bottom: 20%;
}

@media screen and (max-width: 750px) {
  .announce__img-desc {
    position: relative;
  }
}

.announce__img-price {
  display: block;
  font-size: 35px;
  line-height: 23px;
  font-weight: 500;
  margin-top: 7px;
}

.announce__img-price::after {
  content: '₽';
  display: inline-block;
}

.announce__info {
  margin-left: 48px;
}

.announce__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 43px;
  color: #000000;
  max-width: 282px;
}

.announce__desc {
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 39px;
  max-width: 346px;
}

.announce__price {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 7px;
}

.announce__price::after {
  content: 'руб.';
  display: inline-block;
}

.announce__price-desc {
  font-size: 14px;
  line-height: 16px;
  color: #9f9f9f;
  margin-bottom: 24px;
}

.announce__button {
  padding: 24px 50px;
  min-width: 276px;
}

.announce__button-more {
  margin-top: 100px;
  margin: 100px auto 83px auto;
  background-color: #eb672d;
  padding: 25px 80px;
  font-weight: 600;
  font-family: 'Gilroy';
}

.announce__button-more:active {
  background-color: #d14e14;
}

.footer {
  font-size: 16px;
  color: #c4c4c4;
  line-height: 19px;
  padding-top: 55px;
  padding-bottom: 40px;
  border-top: 1px solid #f0f0f0;
}

@media screen and (max-width: 1300px) {
  .footer {
    padding-bottom: 30px;
    padding-top: 40px;
  }
}

.footer a {
  color: currentColor;
}

.footer__two-colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1300px) {
  .footer__two-colums {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .footer__two-colums {
    width: 100%;
  }
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer__wrap {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1300px) {
  .footer__colum {
    margin-bottom: 20px;
  }
}

.footer__img-wrap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer__img {
  width: 100%;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1300px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}

.footer__service {
  margin-left: 31px;
  max-width: 135px;
}

.footer__copyright {
  justify-self: flex-end;
}

.footer__item-list {
  margin-bottom: 15px;
}

.footer__item-list:last-child {
  margin-bottom: 0;
}

.footer__political {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1300px) {
  .footer__political {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (max-width: 768px) {
  .footer__political {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1300px) {
  .footer__socials {
    margin-bottom: 20px;
  }
}

.footer__social {
  margin-right: 7px;
  width: 29px;
  height: 29px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer__social:hover {
  opacity: .8;
}

.footer__last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .footer__last {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__quest {
  line-height: 36px;
  padding: 7px 30px;
  border: 1px solid #000000;
  border-radius: 3px;
  margin-bottom: 13px;
}

.footer__circs {
  justify-self: flex-end;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .footer__circs {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer .footer__quest,
.footer .footer__link-mail {
  color: #000000;
  margin-bottom: 20px;
}

.be-partner,
.feedback {
  background-color: #fff;
  padding: 7px;
  max-width: 962px;
  width: 100%;
  display: none;
}

@media screen and (max-width: 1200px) {
  .be-partner,
  .feedback {
    max-width: 700px;
  }
}

.be-partner__wrap,
.feedback__wrap {
  border: 1px solid #dedede;
  padding: 75px 20px 45px 20px;
}

@media screen and (max-width: 1200px) {
  .be-partner__wrap,
  .feedback__wrap {
    padding: 30px 20px 30px 20px;
  }
}

.be-partner__title,
.feedback__title {
  font-size: 48px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 31px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .be-partner__title,
  .feedback__title {
    font-size: 35px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 567px) {
  .be-partner__title,
  .feedback__title {
    font-size: 26px;
    line-height: 28px;
  }
}

.be-partner__desc,
.feedback__desc {
  max-width: 595px;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 71px;
}

@media screen and (max-width: 1200px) {
  .be-partner__desc,
  .feedback__desc {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 567px) {
  .be-partner__desc,
  .feedback__desc {
    font-size: 16px;
    line-height: 19px;
  }
}

.be-partner__item-wrap,
.feedback__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 567px) {
  .be-partner__item-wrap,
  .feedback__item-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.be-partner__label,
.feedback__label {
  margin-right: 41px;
  font-size: 24px;
  line-height: 28px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: 295px;
  text-align: right;
  margin-top: 24px;
}

@media screen and (max-width: 1200px) {
  .be-partner__label,
  .feedback__label {
    font-size: 20px;
    line-height: 24px;
    margin-top: 16px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .be-partner__label,
  .feedback__label {
    width: 175px;
  }
}

@media screen and (max-width: 567px) {
  .be-partner__label,
  .feedback__label {
    font-size: 17px;
    line-height: 19px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0;
    margin-right: 0;
  }
}

.be-partner__input, .be-partner__message,
.feedback__input,
.feedback__message {
  padding: 22px 23px;
  font-size: 24px;
  line-height: 28px;
  border: 1px solid #dcdcdc;
  width: 100%;
  border-radius: 3px;
}

@media screen and (max-width: 1200px) {
  .be-partner__input, .be-partner__message,
  .feedback__input,
  .feedback__message {
    font-size: 20px;
    line-height: 24px;
    padding: 15px;
  }
}

@media screen and (max-width: 567px) {
  .be-partner__input, .be-partner__message,
  .feedback__input,
  .feedback__message {
    width: 100%;
    font-size: 17px;
    line-height: 19px;
    padding: 10px;
  }
}

.be-partner__rielt-wrap,
.feedback__rielt-wrap {
  width: 100%;
}

@media screen and (max-width: 567px) {
  .be-partner__rielt-wrap,
  .feedback__rielt-wrap {
    width: 100%;
  }
}

.be-partner__numb-wrap,
.feedback__numb-wrap {
  width: 100%;
}

@media screen and (max-width: 567px) {
  .be-partner__numb-wrap,
  .feedback__numb-wrap {
    width: 100%;
  }
}

.be-partner__tel-desc,
.feedback__tel-desc {
  font-size: 16px;
  line-height: 19px;
  margin-top: 13px;
  color: #c1c1c1;
  margin-bottom: 34px;
  width: 100%;
}

@media screen and (max-width: 567px) {
  .be-partner__tel-desc,
  .feedback__tel-desc {
    width: 100%;
  }
}

.be-partner__item-check,
.feedback__item-check {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.be-partner__item-check ,
.feedback__item-check  {
  text-align: left;
  margin-right: 0;
  margin-left: 21px;
}

.be-partner__item-numb,
.feedback__item-numb {
  margin-top: 35px;
}

.be-partner__btn,
.feedback__btn {
  cursor: pointer;
  padding: 25px 27px;
  color: #ffffff;
  background-color: #055DF4;
  margin-right: 14px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 7px rgba(5, 93, 244, 0.49);
          box-shadow: 0px 4px 7px rgba(5, 93, 244, 0.49);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.be-partner__btn:hover,
.feedback__btn:hover {
  -webkit-box-shadow: 0px 0px 7px rgba(5, 93, 244, 0.49);
          box-shadow: 0px 0px 7px rgba(5, 93, 244, 0.49);
}

.be-partner__btn:active,
.feedback__btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #0951c4;
}

@media screen and (max-width: 768px) {
  .be-partner__btn,
  .feedback__btn {
    margin-right: 0;
  }
}

@media screen and (max-width: 567px) {
  .be-partner__btn,
  .feedback__btn {
    padding: 20px;
    margin-right: 0;
  }
}

.be-partner__btn-desc,
.feedback__btn-desc {
  max-width: 273px;
  color: #c1c1c1;
}

@media screen and (max-width: 768px) {
  .be-partner__btn-desc,
  .feedback__btn-desc {
    max-width: 100%;
    margin-top: 20px;
  }
}

.be-partner__item-wrap-btn,
.feedback__item-wrap-btn {
  padding-left: 118px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .be-partner__item-wrap-btn,
  .feedback__item-wrap-btn {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1800px) {
  .earn__title {
    font-size: 50px;
    line-height: 52px;
  }
  .earn__bg-img {
    right: 7%;
    width: 40%;
  }
}

@media screen and (max-width: 1600px) {
  .how-iw {
    background-position: left 17%;
  }
  .banner {
    background: url("../../img/landing/banner-bg-1.png") no-repeat -4% 46%, #055df4 url("../../img/landing/banner-bg-2.png") no-repeat 130% 5%;
  }
  .like {
    padding-right: 0;
  }
  .partners__button {
    min-width: 213px;
    height: fit-content;
    padding: 24px 40px;
  }
  .announce .section__title {
    margin-bottom: 50px;
  }
  .announce__info {
    margin-left: 20px;
  }
  .announce__name {
    margin-bottom: 19px;
  }
  .announce__desc {
    margin-bottom: 11px;
  }
}

@media screen and (max-width: 1450px) {
  .earn {
    padding-bottom: 150px;
  }
  .earn__title {
    font-size: 45px;
    line-height: 47px;
  }
  .like__button {
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 1400px) {
  .announce__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .announce__item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 30px auto;
  }
  .announce__item:nth-child(odd) {
    margin-right: auto;
  }
  .announce__item:last-child {
    margin-bottom: 0;
  }
  .announce__name {
    max-width: 100%;
  }
  .announce__desc {
    max-width: 500px;
  }
}

@media screen and (max-width: 1300px) {
  .earn__title {
    font-size: 40px;
    line-height: 42px;
  }
  .banner {
    background: url("../../img/landing/banner-bg-1.png") no-repeat -19% 46%, #055df4 url("../../img/landing/banner-bg-2.png") no-repeat 165% 5%;
  }
  .like .section__title {
    margin-bottom: 60px;
  }
  .like__wrap {
    max-width: 560px;
  }
}

@media screen and (max-width: 1200px) {
  .top-header__info-text {
    font-size: 28px;
    line-height: 28px;
  }
  .bottom-header__item {
    margin-right: 18px;
  }
  .earn {
    padding-bottom: 100px;
    padding-top: 90px;
  }
  .earn__bg-img {
    top: 90px;
    right: 6%;
  }
  .earn__title {
    font-size: 33px;
    line-height: 37px;
    max-width: 520px;
  }
  .earn__desc {
    margin-top: 40px;
  }
  .earn__link {
    margin-top: 50px;
    padding: 20px 50px;
  }
  .banner {
    background: url("../../img/landing/banner-bg-1.png") no-repeat -165px 46%, #055df4 url("../../img/landing/banner-bg-2.png") no-repeat 517px 5%;
  }
  .like .section__title {
    margin-bottom: 20px;
  }
  .like__button {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 17px 46px;
  }
  .like__wrap {
    max-width: 400px;
  }
  .partners {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partners .section__title {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .partners__items {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .partners__button {
    margin: 0 auto;
    width: 300px;
    height: fit-content;
    text-align: center;
    padding: 20px 30px;
  }
}

@media screen and (max-width: 992px) {
  header {
    position: relative;
  }
  .top-header {
    position: relative;
    z-index: 6;
  }
  .top-header__info-text {
    font-size: 20px;
    line-height: 24px;
    margin-right: 15px;
  }
  .top-header__info-button {
    padding: 13px 13px;
  }
  .bottom-header {
    padding-top: 17px;
  }
  .bottom-header__wrap {
    position: relative;
  }
  .bottom-header .hamburger {
    position: absolute;
    top: 17px;
    right: 0;
    display: inline-block;
    z-index: 5;
  }
  .bottom-header .hamburger .hamburger-inner, .bottom-header .hamburger .hamburger-inner:after, .bottom-header .hamburger .hamburger-inner:before {
    background-color: #055df4;
  }
  .bottom-header__list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 15px;
    padding: 60px 15px 30px 15px;
    position: absolute;
    -webkit-transition: all .3s;
    transition: all .3s;
    right: -300px;
    z-index: 4;
    background-color: #fff;
    top: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .bottom-header__item {
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
    margin-right: 0;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .bottom-header__item:hover {
    opacity: .8;
  }
  .bottom-header__item:last-child {
    margin-bottom: 0;
  }
  .bottom-header__item-link {
    color: #055df4;
    width: 100%;
    height: 100%;
    display: block;
    padding: 15px 0px;
    font-weight: 500;
  }
  .bottom-header__last-item {
    margin-top: 10px;
    border-bottom: 0;
  }
  .bottom-header__last-item .link-main {
    padding: 15px 19px;
  }
  .bottom-header__last-item .bottom-header__item-link {
    text-align: center;
  }
  .mobile-nav {
    position: fixed;
    top: 82px;
    left: 0;
    right: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .mobile-nav .bottom-header__list {
    display: block;
  }
  .earn {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .earn__bg-img {
    right: 1%;
  }
  .earn__title {
    font-size: 29px;
    line-height: 33px;
  }
  .earn__desc {
    margin-top: 23px;
    max-width: 265px;
  }
  .earn__link {
    margin-top: 30px;
    padding: 20px 40px;
  }
  .earn__bg-img {
    top: 60px;
  }
  .how-iw__item {
    margin-right: 20px;
  }
  .banner {
    background: #055df4;
    padding: 17px 0;
    margin-top: 40px;
  }
  .banner__text {
    font-size: 25px;
    line-height: 28px;
  }
  .banner__price {
    font-size: 42px;
  }
  .member {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .like {
    background-position: right 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .like__wrap {
    max-width: 400px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .top-header__info-text {
    text-align: center;
  }
  .top-header__info {
    padding: 10px 0;
  }
  .top-header__info-button {
    min-width: 200px;
  }
  .earn__title {
    font-size: 27px;
    line-height: 29px;
    max-width: 330px;
  }
  .earn__link {
    padding: 15px 30px;
  }
  .how-iw {
    background: none;
  }
  .how-iw .section__title {
    margin-bottom: 40px;
  }
  .how-iw__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how-iw__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .how-iw__item:last-child {
    margin-bottom: 0;
  }
  .how-iw__img-wrap {
    margin-bottom: 20px;
  }
  .how-iw__name {
    margin-bottom: 30px;
  }
  .member__wrap {
    margin-top: 50px;
  }
  .like {
    background: none;
    text-align: center;
  }
  .like__wrap {
    width: 100%;
    max-width: 100%;
  }
  .like__img {
    display: block;
    max-width: 350px;
    margin: 0 auto 20px auto;
  }
  .like__button {
    margin: 30px auto 50px auto;
  }
  .announce {
    margin-top: 80px;
  }
  .announce__name {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .announce__price {
    font-size: 26px;
    line-height: 29px;
  }
  .announce__price-desc {
    margin-bottom: 10px;
  }
  .announce__button {
    text-align: center;
    padding: 12px;
    min-width: 244px;
  }
  .announce__button-more {
    margin: 50px auto 50px auto;
  }
}

@media screen and (max-width: 576px) {
  .top-header__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-header__info-text {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 19px;
  }
  .top-header__info-button {
    padding: 8px 13px;
    width: 100%;
    text-align: center;
  }
  .mobile-nav .bottom-header__list {
    width: 100%;
    height: 100%;
  }
  .earn {
    padding-top: 40px;
  }
  .earn__bg-img {
    display: none;
  }
  .earn__title {
    max-width: 100%;
    font-size: 24px;
    line-height: 26px;
  }
  .banner__text {
    font-size: 20px;
    line-height: 24px;
  }
  .banner__price {
    font-size: 34px;
  }
  .like {
    padding-top: 40px;
  }
  .partners__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partners__item {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }
  .partners__img-wrap {
    max-width: 150px;
  }
  .announce__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .announce__info {
    margin-left: 0;
  }
  .announce__img-wrap {
    max-width: 300px;
    margin-bottom: 20px;
  }
  .announce__price, .announce__price-desc, .announce__button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .announce__button-more {
    margin: 31px auto 31px auto;
    padding: 14px 30px;
  }
  .be-partner {
    padding: 7px;
  }
  .be-partner__wrap {
    border: 1px solid #dedede;
  }
}
/*# sourceMappingURL=main.css.map */