html {
    background-color: #fff;
    font-family: 'Roboto';
    font-size: 16px;
    color: #000000;
}

.App {
    background-color: white;
}

.section {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    padding-right: 120px;
    padding-left: 120px;
}

.section__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-align: center;
    margin-bottom: 50px;
}

@media screen and (max-width: 1600px) {
    .section {
        padding-right: 60px;
        padding-left: 60px;
    }
}

@media screen and (max-width: 1200px) {
    .section__title {
        font-size: 42px;
        line-height: 50px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 992px) {
    .section {
        padding-right: 40px;
        padding-left: 40px;
    }

    .section__title {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .section {
        padding-right: 25px;
        padding-left: 25px;
    }
}

@media screen and (max-width: 592px) {
    .section {
        padding-right: 16px;
        padding-left: 16px;
    }

    .section__title {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 25px;
    }
}

.space__head-wrap {
    -webkit-transition: all .8s;
    transition: all .8s;
    width: 100%;
    height: 50px;
}

.space__head {
    -webkit-transition: all .8s;
    transition: all .8s;
}

.header {
    position: fixed;
    z-index: 2;
    opacity: 1;
    -webkit-transition: all .3s;
    transition: all .3s;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.header .main-header {
    color: #ffffff;
    background-color: #EB672D;
    -webkit-transition: all .3s;
    transition: all .3s;
    top: 0px;
}

.header__wrap-all {
    padding: 24px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .header__wrap-all {
        padding: 10px 0;
    }
}

@media screen and (max-width: 576px) {
    .header__wrap-all {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 5px 0;
    }
}

.header__desc {
    font-size: 36px;
    line-height: 30px;
    margin-right: 45px;
}

@media screen and (max-width: 1500px) {
    .header__desc {
        font-size: 30px;
    }
}

@media screen and (max-width: 1400px) {
    .header__desc {
        max-width: 290px;
        font-size: 26px;
    }
}

@media screen and (max-width: 1200px) {
    .header__desc {
        font-size: 22px;
        line-height: 26px;
    }
}

@media screen and (max-width: 992px) {
    .header__desc {
        margin-right: 20px;
        font-size: 22px;
        line-height: 26px;
        max-width: 214px;
    }
}

@media screen and (max-width: 768px) {
    .header__desc {
        /*margin-right: 10px;*/
        font-size: 18px;
        line-height: 24px;
        max-width: 175px;
    }
}

@media screen and (max-width: 576px) {
    .header__desc {
        /*margin-right: 120px;*/
        max-width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 485px) {
    .header__desc {
        max-width: 174px;
    }
}

.header__price-wrap {
    font-size: 60px;
    line-height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
}

@media screen and (max-width: 1100px) {
    .header__price-wrap {
        font-size: 45px;
    }
}

@media screen and (max-width: 992px) {
    .header__price-wrap {
        font-size: 38px;
    }
}

@media screen and (max-width: 768px) {
    .header__price-wrap {
        font-size: 28px;
        line-height: 32px;
        margin-right: 120px;
    }
}

.header__price {
    /*возможно надо разделить*/
    margin-left: 100px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.header__rub {
    margin-left: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__rub::after, .header__site-link::after {
    content: url(../img/arrow-right-header.png);
    height: 36px;
    margin-left: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    .header__rub::after, .header__site-link::after {
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .header__rub::after, .header__site-link::after {
        margin-left: 2px;
        margin-top: 4px;
    }
}

@media screen and (max-width: 576px) {
    .header__rub::after, .header__site-link::after {
        display: none;
    }
}

.header__last-block, .header__first-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__last-block {
    width: 32%;
}

@media screen and (max-width: 576px) {
    .header__last-block {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.header__first-block {
    width: 68%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

@media screen and (max-width: 576px) {
    .header__first-block {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .header__first-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.header__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 44px;
}

@media screen and (max-width: 992px) {
    .header__social-list {
        margin-left: 10px;
    }
}

@media screen and (max-width: 576px) {
    .header__social-list {
        /*margin-right: 120px;*/
        margin-left: 0;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        margin-bottom: 5px;
        display: flex;
    }
}

.header__social-item:first-child {
    margin-right: 14px;
}

@media screen and (max-width: 992px) {
    .header__social-item {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 768px) {
    .header__social-item:first-child {
        margin-right: 7px;
    }
}

@media screen and (max-width: 576px) {
    .header__social-item {
        width: 40px;
        height: 40px;
    }

    .header__social-item:first-child {
        margin-right: 7px;
    }
}

.header__more {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    margin-left: 15px;
    text-align: center;
    margin-left: auto;
}

@media screen and (max-width: 576px) {
    .header__more {
        max-width: 100%;
        margin-left: 0;
        margin-top: 5px;
        /*display: none;*/
    }
}

.header__logout {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    -webkit-transition: all .2s;
    transition: all .2s;
    top: -10px;
    right: -10px;
    display: none;
}

@media screen and (max-width: 992px) {
    .header__logout {
        color: #EB672D;
    }
}

.header__man-wrap {
    max-width: 56px;
    width: 100%;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 78px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.header__man-wrap:hover .header__logout {
    display: block;
}

@media screen and (max-width: 1200px) {
    .header__man-wrap {
        margin-right: 20px;
    }
}

@media screen and (max-width: 992px) {
    .header__man-wrap {
        position: absolute;
        top: -100px;
        left: 15px;
        z-index: 5;
    }
}

@media screen and (max-width: 556px) {
    .header__man-wrap {
        /*top: -150px;*/
    }
}

.header__site-link {
    font-size: 30px;
    font-weight: 500;
    text-decoration: underline;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
}

.header-hover {
    position: fixed;
    -webkit-transition: all .3s;
    transition: all .3s;
    z-index: 2;
    background-color: #ffffff;
    height: auto;
    top: -350px;
}

.header-hover__wrap {
    padding: 18px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 850px) {
    .header-hover__wrap {
        padding: 10px 0;
    }
}

@media screen and (max-width: 576px) {
    .header-hover__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.header-hover__numb {
    color: #ffffff;
    font-size: 60px;
    line-height: 48px;
    padding: 3px 2px 10px 2px;
    background-color: #EB672D;
    margin-right: 32px;
}

@media screen and (max-width: 1500px) {
    .header-hover__numb {
        margin-right: 15px;
    }
}

@media screen and (max-width: 1400px) {
    .header-hover__numb {
        font-size: 44px;
    }
}

@media screen and (max-width: 900px) {
    .header-hover__numb {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .header-hover__numb {
        display: inline-block;
    }
}

.header-hover__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .header-hover__item {
        margin-left: 0;
    }
}

.header-hover__img-wrap {
    height: 100%;
}

@media screen and (max-width: 576px) {
    .header-hover__img-wrap {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

.header-hover__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.header-hover__desc {
    color: #eb672d;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 1400px) {
    .header-hover__desc {
        max-width: 217px;
    }
}

@media screen and (max-width: 992px) {
    .header-hover__desc {
        max-width: 185px;
    }
}

@media screen and (max-width: 768px) {
    .header-hover__desc {
        max-width: 139px;
        font-size: 16px;
        line-height: 19px;
    }
}

@media screen and (max-width: 576px) {
    .header-hover__desc {
        max-width: 65%;
    }
}

.guest .active-guest .header__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 44px;
}

@media screen and (max-width: 992px) {
    .guest .active-guest .header__social-list {
        margin-left: 10px;
    }
}

@media screen and (max-width: 576px) {
    .guest .active-guest .header__social-list {
        margin-left: 0;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 992px) {
    .guest .active-guest .header__more {
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        width: 100%;
        position: relative;
        display: none;
    }

    .guest .active-guest .header__more::before {
        content: '';
        background-color: #fff;
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

@media screen and (max-width: 576px) {
    .guest .active-guest .header__more {
        display: block;
    }
}

.guest .active-guest .header__wrap-all {
    padding: 24px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .guest .active-guest .header__wrap-all {
        padding: 10px 0;
    }
}

@media screen and (max-width: 576px) {
    .guest .active-guest .header__wrap-all {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 5px 0;
    }
}

@media screen and (max-width: 485px) {
    .guest .active-guest .header__desc {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
}

.user-hover {
    padding: 14px 0;
}

@media screen and (max-width: 992px) {
    .user-hover {
        padding: 20px 0 25px 55px;
    }
}

@media screen and (max-width: 576px) {
    .user-hover {
        padding: 30px 0 30px 55px;
    }
}

.user-hover__copy {
    cursor: pointer;
    background-color: #fff;
    color: #eb672d;
    font-weight: 500;
    border-bottom: 3px dashed #eb672d;
    padding: 0;
    display: inline;
}

.user-hover__share {
    cursor: pointer;
    background-color: #fff;
    color: #eb672d;
    font-weight: 500;
    padding: 0;
    display: inline;
}

@media screen and (max-width: 600px) {
    .user-hover__copy {
        width: 157px;
    }

    .user-hover__share {
        width: 157px;
    }
}

@media screen and (max-width: 420px) {
    .user-hover__copy {
        width: 110px;
    }

    .user-hover__share {
        width: 110px;
    }
}

.user-hover__oror {
    font-weight: 500;
    margin: 0 15px;
    font-size: 24px;
}

@media screen and (max-width: 556px) {
    .user-hover__oror {
        margin: 0 5px;
    }
}

.user-hover__desc {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 303px;
    max-width: 100%;
}

@media screen and (max-width: 1840px) {
    .user-hover__desc {
        margin-right: 250px;
    }
}

@media screen and (max-width: 1840px) {
    .user-hover__desc {
        margin-right: 200px;
    }
}

@media screen and (max-width: 1740px) {
    .user-hover__desc {
        margin-right: 150px;
    }
}

@media screen and (max-width: 1670px) {
    .user-hover__desc {
        margin-right: 81px;
    }
}

@media screen and (max-width: 1620px) {
    .user-hover__desc {
        margin-right: 25px;
    }
}

@media screen and (max-width: 1600px) {
    .user-hover__desc {
        margin-right: 14%;
    }
}

@media screen and (max-width: 1370px) {
    .user-hover__desc {
        margin-right: 7%;
    }
}

@media screen and (max-width: 992px) {
    .user-hover__desc {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .user-hover__desc {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
}

.user-hover__item {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .user-hover__item {
        margin-left: 0;
    }
}

@media screen and (max-width: 1550px) {
    .user .header__rub::after, .user .header__site-link::after {
        margin-left: 25px;
    }
}

@media screen and (max-width: 1200px) {
    .user .header__rub::after, .user .header__site-link::after {
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    .user .header__site-link {
        font-size: 25px;
    }
}

@media screen and (max-width: 992px) {
    .user .header__site-link::after {
        display: inline-block;
        content: url(../img/arrow-right-header-min.png);
        margin-left: 45%;
    }
}

@media screen and (max-width: 768px) {
    .user .header__site-link::after {
        margin-left: 13%;
    }
}

@media screen and (max-width: 576px) {
    .user .header__site-link {
        margin-left: 0;
        font-size: 16px;
    }

    .user .header__site-link::after {
        margin-left: 5%;
    }
}

@media screen and (max-width: 430px) {
    .user .header__site-link::after {
        display: none;
    }
}

@media screen and (max-width: 345px) {
    .user .header__site-link::after {
        display: none;
    }
}

.user .header__desc {
    margin-right: 20px;
}

@media screen and (max-width: 1200px) {
    .user .header__desc {
        max-width: 148px;
    }
}

@media screen and (max-width: 992px) {
    .user .header__desc {
        max-width: 100%;
        margin-right: 0;
        font-size: 16px;
    }
}

@media screen and (max-width: 415px) {
    .user .header__desc {
        max-width: 113px;
        margin-right: 15%
    ;
    }
}

.user .header__first-block {
    width: 79%;
}

@media screen and (max-width: 992px) {
    .user .header__first-block {
        width: 100%;
    }
}

.user .header__more {
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    .user .header__more {
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        width: 100%;
        position: relative;
        display: none;
    }

    .user .header__more::before {
        content: '';
        background-color: #fff;
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.user .header__last-block {
    width: 26%;
}

@media screen and (max-width: 992px) {
    .user .header__last-block {
        width: 100%;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 992px) {
    .user .header__last-block {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 992px) {
    .user .header__wrap-all {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media screen and (max-width: 1600px) {
    .user .header__price-wrap {
        font-size: 45px;
    }
}

@media screen and (max-width: 992px) {
    .user .header__price-wrap {
        font-size: 38px;
    }
}

@media screen and (max-width: 768px) {
    .user .header__price-wrap {
        font-size: 32px;
        line-height: 34px;
    }
}

@media screen and (max-width: 576px) {
    .user .header__price-wrap {
        font-size: 20px;
        line-height: 24px;
    }
}

.user .header__social-list {
    margin-left: 17px;
}

@media screen and (max-width: 992px) {
    .user .header__social-list {
        margin-left: 15%;
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .user .header__social-list {
        margin-left: 8%;
    }
}

@media screen and (max-width: 576px) {
    .user .header__social-list {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
}

@media screen and (max-width: 992px) {
    .user .header__social-item {
        width: 40px;
        height: 40px;
    }
}

.user__header-wrap-need {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 992px) {
    .user__header-wrap-need {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        width: 60%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .user__header-wrap-need {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 576px) {
    .user__header-wrap-need {
        width: 100%;
    }
}

.user__desc-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .user__desc-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.user .active-user .header__more {
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    .user .active-user .header__more {
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        width: 100%;
        position: relative;
        display: block;
    }

    .user .active-user .header__more::before {
        content: '';
        background-color: #fff;
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

@media screen and (max-width: 1600px) {
    .user .active-user .header__price-wrap {
        font-size: 45px;
    }
}

@media screen and (max-width: 992px) {
    .user .active-user .header__price-wrap {
        font-size: 38px;
    }
}

@media screen and (max-width: 768px) {
    .user .active-user .header__price-wrap {
        font-size: 32px;
        line-height: 34px;
    }
}

@media screen and (max-width: 1500px) {
    .user .active-user .header__site-link {
        font-size: 25px;
    }
}

@media screen and (max-width: 992px) {
    .user .active-user .header__site-link::after {
        display: inline-block;
        content: url(../img/arrow-right-header-min.png);
        margin-left: 45%;
    }
}

@media screen and (max-width: 768px) {
    .user .active-user .header__site-link::after {
        margin-left: 25%;
    }
}

@media screen and (max-width: 430px) {
    .user .active-user .header__site-link::after {
        margin-left: 20%;
    }
}

@media screen and (max-width: 576px) {
    .user .active-user .header__site-link {
        margin-left: 20%;
        font-size: 20px;
    }
}

@media screen and (max-width: 345px) {
    .user .active-user .header__site-link::after {
        display: none;
    }
}

.user .active-user .header__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 992px) {
    .user .active-user .user__desc-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.user .active-user .user__header-wrap-need {
    width: 100%;
}

.user .active-user .header__wrap-all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.user .active-user .header__desc {
    margin-right: 20px;
}

@media screen and (max-width: 1200px) {
    .user .active-user .header__desc {
        max-width: 148px;
    }
}

@media screen and (max-width: 992px) {
    .user .active-user .header__desc {
        max-width: 100%;
        margin-right: 0;
        font-size: 20px;
        margin-top: 10px;
    }
}

.header .hamburger {
    position: absolute;
    top: 0px;
    right: 10px;
    display: none;
    z-index: 3;
}

.header .hamburger.is-active .hamburger-inner, .header .hamburger.is-active .hamburger-inner:after, .header .hamburger.is-active .hamburger-inner:before,
.header .hamburger-inner, .header .hamburger-inner:after, .header .hamburger-inner:before {
    background-color: #ccc;
}

.header .hamburger-guest-js {
    display: none;
}

@media screen and (max-width: 576px) {
    .header .hamburger-guest-js {
        display: block;
    }
}

.header .hamburger-user-js {
    display: none;
}

@media screen and (max-width: 992px) {
    .header .hamburger-user-js {
        display: block;
    }
}

.header .hamburger.is-active {
    display: none;
}

.heading {
    width: 100%;
    height: 408px;
    /*background-image: url(../img/header.jpg);*/
    /*background-image: url(https://images-na.ssl-images-amazon.com/images/I/91uWDFr0ekL._SX450_.jpg);*/
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.heading__title {
    max-width: 800px;
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    font-weight: 500;
    line-height: 56px;
}

.about-link__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.about-link__item {
    margin-right: 15px;
}

.about-link__item:last-child {
    margin-right: 0;
}

.about-link__link {
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
}

.about-link__border .about-link__link {
    padding: 15px 19px;
    background: rgba(5, 93, 244, 0.0001);
    border: 1px solid #000000;
    border-radius: 3px;
}

@media screen and (max-width: 768px) {
    .about-link__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .about-link__item {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .about-link__item:last-child {
        margin-bottom: 0;
    }
}

.photo-obj-swiper {
    height: 609px;
}

@media screen and (max-width: 1500px) {
    .photo-obj-swiper {
        height: 550px;
    }
}

@media screen and (max-width: 1300px) {
    .photo-obj-swiper {
        height: 500px;
    }
}

@media screen and (max-width: 992px) {
    .photo-obj-swiper {
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .photo-obj-swiper {
        height: 350px;
    }
}

@media screen and (max-width: 576px) {
    .photo-obj-swiper {
        height: 300px;
    }
}

.photo-obj__title {
    text-align: center;
    width: 100%;
}

.photo-obj__img-wrap {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.photo-obj__img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.photo-obj__desc-wrap {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

@media screen and (max-width: 576px) {
    .photo-obj__desc-wrap {
        bottom: 33px;
        width: 100%;
    }
}

.photo-obj__desc {
    padding: 4px 5px;
    background-color: #000000;
    opacity: 0.6;
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

@media screen and (max-width: 576px) {
    .photo-obj__desc {
        width: 100%;
    }
}

.photo-obj__desc-text {
    padding: 18px 160px;
    border: 1px solid #777777;
    z-index: 2;
    color: #ffffff;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .photo-obj__desc-text {
        padding: 18px 85px;
    }
}

@media screen and (max-width: 576px) {
    .photo-obj__desc-text {
        padding: 10px 10px;
    }
}

.photo-obj .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border-radius: 0;
    background-color: #ffffff;
    opacity: 0.4;
}

.photo-obj .swiper-pagination-bullet-active {
    opacity: 1;
}

.flat-desc {
    background-color: #fbfbfb;
    padding: 65px 0px;
}

.flat-desc__wrap-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flat-desc__img-human {
    max-width: 351px;
    margin-right: 80px;
    width: 100%;
}

.flat-desc__img-wrap {
    width: 100%;
}

.flat-desc__img {
    width: 100%;
}

.flat-desc__about-human {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
    text-align: center;
}

.flat-desc__desc-human {
    font-weight: normal;
    line-height: 24px;
    display: block;
}

.flat-desc__main-desc {
    max-width: 605px;
    margin-right: 65px;
}

.flat-desc__header {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 43px;
}

.flat-desc__paragraph {
    margin-bottom: 19px;
    line-height: 19px;
}

.flat-desc__paragraph:last-child {
    margin-bottom: 0;
}

.flat-desc__price-text {
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
}

.flat-desc__mortgage {
    font-size: 14px;
    line-height: 16px;
    margin-top: 7px;
    color: #9f9f9f;
    margin-bottom: 24px;
    display: block;
}

.flat-desc__btn-contact {
    padding: 24px 55px;
    background-color: #055DF4;
    border-radius: 3px;
    color: #ffffff;
    display: block;
    text-align: center;
    -webkit-box-shadow: 0px 4px 7px rgba(5, 93, 244, 0.49);
    box-shadow: 0px 4px 7px rgba(5, 93, 244, 0.49);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.flat-desc__btn-contact:hover {
    -webkit-box-shadow: 0px 0px 7px rgba(5, 93, 244, 0.49);
    box-shadow: 0px 0px 7px rgba(5, 93, 244, 0.49);
}

.flat-desc__btn-contact:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #0951c4;
}

@media screen and (max-width: 1550px) {
    .flat-desc__btn-contact {
        padding: 24px 45px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }
}

@media screen and (max-width: 1315px) {
    .flat-desc__img-human {
        margin-right: 40px;
    }

    .flat-desc__main-desc {
        margin-right: 35px;
    }

    .flat-desc__btn-contact {
        padding: 24px 35px;
    }

    .flat-desc__header {
        font-size: 28px;
    }
}

@media screen and (max-width: 1200px) {
    .flat-desc__img-human {
        max-width: 230px;
        margin-right: 30px;
    }

    .flat-desc__header {
        margin-bottom: 30px;
    }

    .flat-desc__btn-contact {
        padding: 16px 20px;
    }

    .flat-desc__price-text {
        font-size: 28px;
    }
}

@media screen and (max-width: 992px) {
    .flat-desc__wrap-all {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .flat-desc__img-human {
        max-width: 300px;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .flat-desc__main-desc {
        margin-right: 0;
        max-width: 100%;
    }

    .flat-desc__header {
        text-align: center;
        font-size: 30px;
    }

    .flat-desc__price {
        margin-top: 30px;
        text-align: center;
    }

    .flat-desc__price-text {
        font-size: 30px;
    }

    .flat-desc__btn-contact {
        padding: 24px 55px;
    }
}

@media screen and (max-width: 576px) {
    .flat-desc__header {
        font-size: 26px;
        line-height: 30px;
    }

    .flat-desc__img-human {
        max-width: 250px;
    }

    .flat-desc__paragraph {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 430px) {
    .flat-desc__btn-contact {
        padding: 24px 35px;
    }
}

.about-comp {
    margin-top: 13px;
    background-color: #ffffff;
}

.about-comp-swiper {
    height: 609px;
}

@media screen and (max-width: 1500px) {
    .about-comp-swiper {
        height: 550px;
    }
}

@media screen and (max-width: 1400px) {
    .about-comp-swiper {
        height: 500px;
    }
}

@media screen and (max-width: 1200px) {
    .about-comp-swiper {
        height: 450px;
    }
}

@media screen and (max-width: 992px) {
    .about-comp-swiper {
        height: 400px;
    }
}

@media screen and (max-width: 850px) {
    .about-comp-swiper {
        height: 350px;
    }
}

@media screen and (max-width: 768px) {
    .about-comp-swiper {
        height: 300px;
    }
}

@media screen and (max-width: 567px) {
    .about-comp-swiper {
        height: 250px;
    }
}

.about-comp__title {
    text-align: center;
    width: 100%;
}

.about-comp__img-wrap {
    height: 100%;
    width: 100%;
}

.about-comp__img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.about-comp-next, .about-comp-prev {
    width: 40px;
    height: 40px;
    background-color: #fff;
    top: 95%;
}

.about-comp-next:after, .about-comp-prev:after {
    color: #9d9e9d;
    font-size: 25px;
}

.about-comp-next {
    right: 47%;
}

@media screen and (max-width: 1500px) {
    .about-comp-next {
        right: 46%;
    }
}

@media screen and (max-width: 1200px) {
    .about-comp-next {
        right: 45%;
    }
}

@media screen and (max-width: 992px) {
    .about-comp-next {
        right: 44%;
        width: 35px;
        height: 35px;
        top: 93%;
    }

    .about-comp-next::after {
        font-size: 19px;
    }
}

@media screen and (max-width: 768px) {
    .about-comp-next {
        right: 43%;
    }
}

@media screen and (max-width: 567px) {
    .about-comp-next {
        right: 38%;
    }
}

.about-comp-prev {
    left: 47%;
}

@media screen and (max-width: 1500px) {
    .about-comp-prev {
        left: 46%;
    }
}

@media screen and (max-width: 1200px) {
    .about-comp-prev {
        left: 45%;
    }
}

@media screen and (max-width: 992px) {
    .about-comp-prev {
        left: 44%;
        width: 35px;
        height: 35px;
        top: 93%;
    }

    .about-comp-prev::after {
        font-size: 19px;
    }
}

@media screen and (max-width: 768px) {
    .about-comp-prev {
        left: 43%;
    }
}

@media screen and (max-width: 567px) {
    .about-comp-prev {
        left: 38%;
    }
}

.about-comp__desc-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 65px;
    margin-bottom: 80px;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .about-comp__desc-list {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        margin-bottom: 65px;
    }
}

@media screen and (max-width: 576px) {
    .about-comp__desc-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.about-comp__desc-item-wrap {
    /*margin-left: auto;*/
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-ms-flex-pack: distribute;*/
    /*    justify-content: space-around;*/
    /*width: 170%;*/
    /*position: absolute;*/
    flex-wrap: wrap;
    margin-left: auto;
    display: flex;
    justify-content: inherit;
    width: 200%;
    position: absolute;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .about-comp__desc-item-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        position: inherit;
        align-items: self-start;
    }
}

@media screen and (max-width: 576px) {
    .about-comp__desc-item-wrap {
        max-width: 300px;
        width: 100%;
    }
}


.about-comp__desc-item {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    display: flex;
    width: max-content;
    align-items: center;
    margin-right: 120px;
    margin-bottom: 20px;
    /*width: -webkit-fill-available;*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .about-comp__desc-item {
        margin-right: 10px;
        width: 100%;
        display: block;
    }
}

.about-comp__desc-item::before {
    content: '';
    background-color: #055DF4;
    width: 19px;
    height: 19px;
    display: inline-block;
    margin-right: 14px;
}

@media screen and (max-width: 992px) {
    .about-comp__desc-item {
        margin-bottom: 20px;
    }
}

.location__map-wrap {
    position: center;
    height: 474px;
    margin-left: fill;
}

@media screen and (max-width: 1200px) {
    .location__map-wrap {
        height: 440px;
    }
}

@media screen and (max-width: 992px) {
    .location__map-wrap {
        height: 350px;
    }
}

@media screen and (max-width: 576px) {
    .location__map-wrap {
        height: 300px;
    }
}

.footer {
    font-size: 16px;
    color: #c4c4c4;
    line-height: 19px;
    padding-top: 55px;
    padding-bottom: 40px;
}

@media screen and (max-width: 1300px) {
    .footer {
        padding-bottom: 30px;
        padding-top: 40px;
    }
}

.footer a {
    color: currentColor;
}

.footer__two-colums {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@media screen and (max-width: 1300px) {
    .footer__two-colums {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .footer__two-colums {
        width: 100%;
    }
}

.footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer__wrap {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.footer__colum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 1300px) {
    .footer__colum {
        margin-bottom: 20px;
    }
}

.footer__img-wrap {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.footer__img {
    width: 100%;
}

.footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 1300px) {
    .footer__logo {
        margin-bottom: 20px;
    }
}

.footer__service {
    margin-left: 31px;
}

.footer__copyright {
    justify-self: flex-end;
}

.footer__item-list {
    margin-bottom: 15px;
}

.footer__item-list:last-child {
    margin-bottom: 0;
}

.footer__political {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 1300px) {
    .footer__political {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
}

@media screen and (max-width: 768px) {
    .footer__political {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 1300px) {
    .footer__socials {
        margin-bottom: 20px;
    }
}

.footer__social {
    margin-right: 7px;
    width: 29px;
    height: 29px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.footer__social:hover {
    opacity: .8;
}

.footer__last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@media screen and (max-width: 768px) {
    .footer__last {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.footer__quest {
    line-height: 36px;
    padding: 7px 30px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-bottom: 13px;
}

.footer__circs {
    justify-self: flex-end;
    margin-top: auto;
}

@media screen and (max-width: 768px) {
    .footer__circs {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.footer .footer__quest,
.footer .footer__link-mail {
    color: #000000;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .heading__title {
        font-size: 42px;
    }
}

@media screen and (max-width: 768px) {
    .heading__title {
        font-size: 38px;
        line-height: 44px;
    }

    .heading {
        height: 350px;
    }
}

@media screen and (max-width: 576px) {
    .heading__title {
        font-size: 30px;
        line-height: 34px;
    }

    .heading {
        height: 300px;
    }
}


.RaFormInput-input {
    width: -webkit-fill-available;
}

/*# sourceMappingURL=main.css.map */